target/
logs/
.classpath
.project
.settings/
.vertx
.DS_Store
bin/
.idea/
aver_1_8_9.xml
.target/
*.iml
src/main/java/com/project/pdf/share.util/
src/main/resources/
src/test/
log/
src/main/resources/static/autobet
way.sql
way.sql.csv
/log/
/pdf/target/
/pdf/pdf.iml
/cacheLocalValue.txt
/.idea/
file-upload/src/main/resources/miscellany.text
file-upload/src/test/
formBuilder/src/test/
goforit-webdriver/src/test/
out/
pdf/src/main/java/com/project/pdf/share.util/
pdf/src/main/resources/
pdf/src/test/
ssc-web-root/src/main/resources/static/autobet
upload-dir/
!/weixin-develop/src/main/java/com/project/service/weixin/WechatMenuService.java
