<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <script src="/jquery.min.js"/>
    <script src="/tether.min.js"/>
    <script src="/bootstrap.min.js"/>
    <script src="/jquery.json.js"/>
</head>
<body>
<div class="container">
    <!--<p th:text="'Hello, ' + ${name} + '!'" />-->
    <h3>文章列表：</h3>
    <ul>
        <li th:each="map:${map}">
            <a th:href="${map.value}" th:text="${map.key}"></a>
        </li>
    </ul>
</div>
</body>
</html>