@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #1a96dc !important;
}
@font-face {
    font-family: 'threea';
    src: url('../fonts/threea.eot?#iefix') format('embedded-opentype'), url('../fonts/threea.woff') format('woff'), url('../fonts/threea.ttf') format('truetype'), url('../fonts/threea.svg#threea') format('svg');
    font-weight: normal;
    font-style: normal;
}
.m_ico {
    font-family: 'threea';
}
body {
    line-height: 1.5;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.response-wrap #header{
  background-color: #005a5d;
  color:#fff;
}
fieldset, img {
    border: 0;
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
button {
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    /*margin: 10px 0 0 0;*/
}
table td {
    border: none;
    padding: 2px 10px;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
    outline: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    width: 100%;
}
.wrap-inner {
    width: 1200px;
    margin: 0 auto;
    clear: both;
}
#logo{
    width: 311px;
    height: 121px;
    display: inline;
    float: left;
    margin: 0px 0 0 0;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999em;
    padding: 0;
}
#nav #logo {
  background-position-x: -5px;
}
#hotlink,.servicemm,.help-center-content .servicemm{
  background-color: black;
  padding: 5px 15px;
  color:#fff;
}
#hotlink{
  padding: 0px 15px;
}
.g_33 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.logo-tag{
  width: 70px;
  height: 50px;
  position: absolute;
  position: absolute;
  left: 70px;
  top: 5px;
  z-index: 6;
  background-position: -60px 0px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}


@media (max-width: 1200px) {

}